# Composer files
composer.phar
vendor/
config/autoload/*.local.php

# Binary gettext files
*.mosli

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/


#Doctrine 825
data/DoctrineORMModule/Proxy/

# Legacy ZF1
demos/
extras/documentation
update winter***
